@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

:root {
    --color-text-b: #000000;
    --color-text-w: #ffffff;
    --color-design: #b9b9b9;
    /*--color-gradient: linear-gradient(to bottom right,#9494a0,#37373b);#00aa41*/
    --color-gradient: linear-gradient(to bottom right, #cad3e7,#696975,#323238);
    --color-button-gradient: linear-gradient(to bottom,#ffffff,#ececec);
}

.gradient {
    background: var(--color-button-gradient);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.background {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-gradient);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.container {
    margin: 18% 0 0;
    padding: 0px 20px;
    user-select: none;
    width: 100%;
    height: 630px;
    max-width: 500px;
    position: relative;
}

/*_________________________________________________________________*/

header {
    text-align: center;
    margin-bottom: 40px;
}

header img {
    width: 130px;
    margin: 0 0 10px 0;
    border-radius: 100%;
}

header h1 {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--color-text-w);
}

header p {
    font-size: 11px;
    color: var(--color-text-w);
}

/*_________________________________________________________________*/

section {  
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button button {     
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 13px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: var(--color-text-b);
}

.button b {
    font-size: 13px;
    font-weight: 600;
    margin-left: 20px;
}

.button i {
    color: var(--color-text-b);
    margin-right: 20px;
    font-size: 22px;
}

/*_________________________________________________________________*/

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0 0;
}

.icon{
    font-size: 30px;
    color: var(--color-text-w);
}

.small {
    font-size: 34px;
}

footer p {
    position: absolute;
    bottom: 5px;
    left: 50%; /* Movendo o parágrafo para o centro horizontalmente */
    transform: translateX(-50%); /* Ajustando para centrar horizontalmente */
    display: flex;
    align-items: center;  
    justify-content: center;
    font-size: 8px;
    color: var(--color-design);
}

.arthur{ 
    font-size: 9px;
    margin: 0 3px;
    text-decoration: none;
    cursor: pointer;
    color: #f1f1f1;
}

/* Responsividade para desktop ________________________________*/

@media (min-width: 500px) {
    .background {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        margin: 0;
        padding: 0;
        height: 90vh;
    }

    header {
        margin-top: 0px;
    }
    
    button:hover {  /* Animação dos btn */
        transform: scale(1.05);
        transition: 0.3s;
    }

    footer {
        padding-bottom: 0px;
    }
    
    .icon:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }

    footer p {
        margin-top: 60px;
    }
}

@media (max-width: 375px) {
    
    .container {
        padding: 0 20px;
    }

    header {
        margin-top: 10px;
    }
    main {
        margin-top: 10%;
    }

    footer p {
        margin-top: 60px;
    }

}
